PSA-COE-Intake-main/force-app/main/default/flows/COE_Intake_Final_Assessment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>UpdateIntake</name>
        <label>UpdateIntake</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>IntakeRecord.coe_Intake_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Decision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IntakeRecord.coe_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Justification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IntakeRecord.coe_Platform_Choice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Platform_Choice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FinalAssessmentChoice1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Approved&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>FinalAssessmentChoice2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Rejected&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>PlatformChoicePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_Preferred_Platform__c</picklistField>
        <picklistObject>coe_Intake__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>*COE Intake Final Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>*Intake Final Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Update intake record after user input</description>
        <name>Update_Intake</name>
        <label>Update Intake</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>IntakeRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Final_Assessment</name>
        <label>Final Assessment</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateIntake</targetReference>
        </connector>
        <fields>
            <name>FinalRecommendationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Final Assessment&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Final_Decision</name>
            <choiceReferences>FinalAssessmentChoice1</choiceReferences>
            <choiceReferences>FinalAssessmentChoice2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Final Decision</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Justification</name>
            <fieldText>Justification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Final_Decision</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Platform_Choice</name>
            <choiceReferences>PlatformChoicePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Platform Choice</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Final_Assessment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IntakeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>coe_Intake__c</objectType>
    </variables>
</Flow>
