PSA-COE-Intake-main/force-app/main/default/flows/Initiate_Intake_Review.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Reviewer_Information</name>
        <label>Assign Reviewer Information</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ReviewerRecord.coe_Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Intake_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewerRecord.coe_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetReviewerFromEmployee.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addReviewers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addAnotherReviewer.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewerRecord.Reviewer_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_Data.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reviewer_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Intake_to_Under_Review</name>
        <label>Set Intake to Under Review</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Intake_Record.coe_Intake_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_UnderReview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Status_UnderReview</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Under Review</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_More_Reviewers</name>
        <label>Add More Reviewers</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Reviewers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addReviewers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Add_Reviewer</targetReference>
            </connector>
            <label>Add Reviewers</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if we found an intake record</description>
        <name>Intake_Record_Found</name>
        <label>Intake Record Found</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No Intake Record Found</defaultConnectorLabel>
        <rules>
            <name>Found_Intake_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Intake_to_Under_Review</targetReference>
            </connector>
            <label>Found Intake Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if we found that the selected Employee was already assigned to the Review process</description>
        <name>Is_the_Employee_a_Reviewer</name>
        <label>Is the Employee a Reviewer</label>
        <locationX>248</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Selected_Reviewer_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is a Reviewer</defaultConnectorLabel>
        <rules>
            <name>Not_a_Reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Review_Check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reviewer_Information</targetReference>
            </connector>
            <label>Not a Reviewer</label>
        </rules>
    </decisions>
    <description>Process to start the intake process - added faults</description>
    <environments>Default</environments>
    <interviewLabel>Initiate Intake Review {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Initiate Intake Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reviewer_Record</name>
        <label>Create Reviewer Record</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Add_More_Reviewers</targetReference>
        </connector>
        <inputReference>ReviewerRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Employee_Data</name>
        <label>Get Employee Data</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Review_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Unable_to_Locate_Employee_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetReviewerFromEmployee.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake_Record</name>
        <label>Get Intake Record</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intake_Record_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Unable_to_Locate_Intake_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>coe_Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check to see if the selected reviewer is already assigned to the Intake</description>
        <name>Get_Review_Check</name>
        <label>Get Review Check</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Employee_a_Reviewer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>coe_Reviewer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_Data.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>coe_Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>coe_IntakeReview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Add_Reviewer</targetReference>
        </connector>
        <inputReference>Get_Intake_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_Reviewer</name>
        <label>Add Reviewer</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Employee_Data</targetReference>
        </connector>
        <fields>
            <name>GetReviewerFromEmployee</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>coe_IntakeReview__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>coe_Reviewer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Reviewer Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>selectedReviewerId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>addAnotherReviewer</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Another Reviewer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Unable_to_Locate_Employee_Record</name>
        <label>Fault - Unable to Locate Employee Record</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Unable_to_Locate_Employee_Record_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fault_Unable_to_Locate_Employee_Record_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_Unable_to_Locate_Employee_Record_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_dtFaultNoIntakeRecord</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 50, 50);&quot;&gt;FAULT:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Unable to locate the Employee Record.  Please Contact the System Administrator&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_Unable_to_Locate_Employee_Record_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Unable_to_Locate_Intake_Record</name>
        <label>Fault - Unable to Locate Intake Record</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Unable_to_Locate_Intake_Record_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fault_Unable_to_Locate_Intake_Record_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_Unable_to_Locate_Intake_Record_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtFaultNoIntakeRecord</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 50, 50);&quot;&gt;FAULT:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Unable to locate the Intake Record.  Please Contact the System Administrator&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_Unable_to_Locate_Intake_Record_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The selected reviewer was already assigned</description>
        <name>Selected_Reviewer_Assigned</name>
        <label>Selected Reviewer Assigned</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Reviewer</targetReference>
        </connector>
        <fields>
            <name>Selected_Reviewer_Assigned_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Selected_Reviewer_Assigned_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selected_Reviewer_Assigned_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtReviewerAlreadyAssigned</name>
                    <fieldText>&lt;p&gt;The selected Reviewer, {!Get_Employee_Data.Name}, was already assigned as a reviewer to this Intake.  Please select again.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Selected_Reviewer_Assigned_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intake_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>addReviewers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReviewerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>coe_IntakeReview__c</objectType>
    </variables>
    <variables>
        <name>selectedReviewerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
