PSA-COE-Intake-main/force-app/main/default/flows/Intake_Reviewer_Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send the email to notify reviewer of assignment</description>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>coe_IntakeReview__c.Intake_Review_Email_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>coe_IntakeReview__c.Intake_Review_Email_Assignment</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Make sure an email address exists on the record</description>
        <name>Check_for_Email_Address</name>
        <label>Check for Email Address</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>Email_Exisits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.coe_Reviewer__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Notification</targetReference>
            </connector>
            <label>Email Exisits</label>
        </rules>
    </decisions>
    <description>Notify the reviewer of actions needed to take - fix email bug</description>
    <environments>Default</environments>
    <interviewLabel>*Intake - Reviewer Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*Intake - Reviewer Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Email_Address</targetReference>
        </connector>
        <object>coe_IntakeReview__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
