PSA-COE-Intake-main/force-app/main/default/flows/Intake_Initiate_Reviewer_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_to_Reviewer_Record</name>
        <label>Assign to Reviewer Record</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Does_an_App_for_this_Use_Case_exist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanUseCaseLeverageExistingApplication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Can_App_use_an_existing_platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanUseCaseUseExistingPlatform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Application_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Platform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Level_of_Core_Capabilities_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LevelCorePlatformCapabilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Level_of_configuration_customization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LevelDeclarativeCustomization</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Reviewer_Record_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Reviewer_Record_2</name>
        <label>Assign to Reviewer Record</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Does_an_App_for_this_Use_Case_exist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanUseCaseLeverageExistingApplication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Can_App_use_an_existing_platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanUseCaseUseExistingPlatform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Application_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Platform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Level_of_Core_Capabilities_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LevelCorePlatformCapabilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Level_of_configuration_customization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LevelDeclarativeCustomization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Security_Level_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecurityLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Will_an_ATO_be_required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequireATO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Reviewer_Record_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Reviewer_Record_3</name>
        <label>Assign to Reviewer Record</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Does_an_App_for_this_Use_Case_exist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanUseCaseLeverageExistingApplication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Can_App_use_an_existing_platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanUseCaseUseExistingPlatform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Application_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Platform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Level_of_Core_Capabilities_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LevelCorePlatformCapabilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Level_of_configuration_customization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LevelDeclarativeCustomization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Security_Level_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecurityLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Will_an_ATO_be_required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequireATO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_IsBusiness_process_automation_needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessProcessAutomation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_DoesPlatformSupportIntegration_needs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlatformSupportIntegration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Does_the_use_case_need_collaboration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollaborationNeeded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Is_Mobile_Access_needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobileAccess</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Reviewer_Record_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Reviewer_Record_4</name>
        <label>Assign to Reviewer Record</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Intake__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Does_an_App_for_this_Use_Case_exist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanUseCaseLeverageExistingApplication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Can_App_use_an_existing_platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanUseCaseUseExistingPlatform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Application_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Application</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Platform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Level_of_Core_Capabilities_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LevelCorePlatformCapabilities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Level_of_configuration_customization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LevelDeclarativeCustomization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Security_Level_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecurityLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Will_an_ATO_be_required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequireATO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_IsBusiness_process_automation_needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessProcessAutomation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_DoesPlatformSupportIntegration_needs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlatformSupportIntegration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Does_the_use_case_need_collaboration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollaborationNeeded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Is_Mobile_Access_needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobileAccess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Recommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recommendation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reviewer_Record.coe_Reviewer_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdditionalNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Reviewer_Record_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the status to  Review Completed</description>
        <name>Update_Intake_Status</name>
        <label>Update Intake Status</label>
        <locationX>50</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>Get_Updated_Intake_Record.coe_Intake_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Intake_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>No</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <constants>
        <name>Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check the Total Reviewers to the Total Complete Reviews to determine if we completed</description>
        <name>Are_All_Reviews_Completed</name>
        <label>Are All Reviews Completed</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Completed_Thank_You</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Not Completed</defaultConnectorLabel>
        <rules>
            <name>Yes_All_Reviews_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Updated_Intake_Record.coe_Total_Completed_Reviews__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Updated_Intake_Record.coe_Total_Number_of_Reviews__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Intake_Status</targetReference>
            </connector>
            <label>Yes, All Reviews Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_user_on_review_team</name>
        <label>Is the user on review team</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Not_on_Review_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reviewer_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Recommendation</targetReference>
            </connector>
            <label>Reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Recommendation</name>
        <label>Is there a Recommendation?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Platform_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recommendation_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reviewer_Record.coe_Recommendation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrCompletedScreen</targetReference>
            </connector>
            <label>Recommendation Set</label>
        </rules>
    </decisions>
    <description>Start the process for the Reviewer to review the Intake information - set Intake Reviews Completed</description>
    <dynamicChoiceSets>
        <name>ApplicationSecurityLevels</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_Security_Level_Required__c</picklistField>
        <picklistObject>coe_IntakeReview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CollaborationNeededSelections</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_Does_the_use_case_need_collaboration__c</picklistField>
        <picklistObject>coe_IntakeReview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExistingPlatformChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_Platform__c</picklistField>
        <picklistObject>coe_IntakeReview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LevelCoreCapabilities</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_Level_of_Core_Capabilities_available__c</picklistField>
        <picklistObject>coe_IntakeReview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LevelDeclarative</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_Level_of_configuration_customization__c</picklistField>
        <picklistObject>coe_IntakeReview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MobileAccessSelections</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_Is_Mobile_Access_needed__c</picklistField>
        <picklistObject>coe_IntakeReview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProcessAutomationSelections</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_IsBusiness_process_automation_needed__c</picklistField>
        <picklistObject>coe_IntakeReview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecommendationChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_Recommendation__c</picklistField>
        <picklistObject>coe_IntakeReview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequireAnATO</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_Will_an_ATO_be_required__c</picklistField>
        <picklistObject>coe_IntakeReview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupportIntegrationSelections</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_DoesPlatformSupportIntegration_needs__c</picklistField>
        <picklistObject>coe_IntakeReview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UseExistingApp</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_Can_App_use_an_existing_platform__c</picklistField>
        <picklistObject>coe_IntakeReview__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UseExistingPlatform</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>coe_Can_App_use_an_existing_platform__c</picklistField>
        <picklistObject>coe_IntakeReview__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>*Intake - Initiate Intake Review Process {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>*Intake - Reviewer Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Employee_Record</name>
        <label>Get Employee Record</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Reviewer_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Unable_to_Locate_Employee_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Intake_Record</name>
        <label>Get Intake Record</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Unable_to_Locate_Intake_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>coe_Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reviewer_Record</name>
        <label>Get Reviewer Record</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_user_on_review_team</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Unable_to_Locate_Reviewer_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>coe_Reviewer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>coe_Intake__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>coe_IntakeReview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the updated Intake record to determine if all the reviews are completed.</description>
        <name>Get_Updated_Intake_Record</name>
        <label>Get Updated Intake Record</label>
        <locationX>182</locationX>
        <locationY>2162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_All_Reviews_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>coe_Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Reviewer_Record_1</name>
        <label>Update Reviewer Record</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Security_Information</targetReference>
        </connector>
        <inputReference>Get_Reviewer_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reviewer_Record_2</name>
        <label>Update Reviewer Record</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Functional_Information</targetReference>
        </connector>
        <inputReference>Get_Reviewer_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reviewer_Record_3</name>
        <label>Update Reviewer Record</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Final_Information</targetReference>
        </connector>
        <inputReference>Get_Reviewer_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reviewer_Record_4</name>
        <label>Update Reviewer Record</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Get_Updated_Intake_Record</targetReference>
        </connector>
        <inputReference>Get_Reviewer_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Intake_Record</name>
        <label>Update the Intake Record</label>
        <locationX>50</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Completed_Thank_You</targetReference>
        </connector>
        <inputReference>Get_Updated_Intake_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Completed_Thank_You</name>
        <label>Completed Thank You</label>
        <locationX>182</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_scrFinalInformation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank you,  &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Employee_Record.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You have completed the Intake Review.  You recommendation is to:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Reviewer_Record.coe_Recommendation__c} Intake&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You will be able to make updates until final selection.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Unable_to_Locate_Employee_Record</name>
        <label>Fault - Unable to Locate Employee Record</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Unable_to_Locate_Employee_Record_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fault_Unable_to_Locate_Employee_Record_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_Unable_to_Locate_Employee_Record_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtFaultNoEmployeeRecord</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 50, 50);&quot;&gt;FAULT:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Unable to locate the Employee Record for logged in user [{!$User.Username}].  Please Contact the System Administrator&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_Unable_to_Locate_Employee_Record_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Unable_to_Locate_Intake_Record</name>
        <label>Fault - Unable to Locate Intake Record</label>
        <locationX>1282</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Unable_to_Locate_Intake_Record_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fault_Unable_to_Locate_Intake_Record_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_Unable_to_Locate_Intake_Record_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtFaultNoIntakeRecord</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 50, 50);&quot;&gt;FAULT:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Unable to locate the Intake Record.  Please Contact the System Administrator&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_Unable_to_Locate_Intake_Record_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Unable_to_Locate_Reviewer_Record</name>
        <label>Fault - Unable to Locate Reviewer Record</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Unable_to_Locate_Reviewer_Record_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fault_Unable_to_Locate_Reviewer_Record_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_Unable_to_Locate_Reviewer_Record_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_dtFaultNoIntakeRecord</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 50, 50);&quot;&gt;FAULT:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Unable to locate the Reviewer Record.  Please Contact the System Administrator&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_Unable_to_Locate_Reviewer_Record_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Information</name>
        <label>Final Information</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_Reviewer_Record_4</targetReference>
        </connector>
        <fields>
            <name>scrFinalInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Final Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recommendation</name>
            <choiceReferences>RecommendationChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_Recommendation__c</elementReference>
            </defaultValue>
            <fieldText>Recommendation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AdditionalNotes</name>
            <defaultValue>
                <stringValue>{!Get_Reviewer_Record.coe_Reviewer_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Provide additional details about your perspective on the use case</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Functional_Information</name>
        <label>Functional Information</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_Reviewer_Record_3</targetReference>
        </connector>
        <fields>
            <name>scrFunctionalInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Functional Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BusinessProcessAutomation</name>
            <choiceReferences>ProcessAutomationSelections</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_IsBusiness_process_automation_needed__c</elementReference>
            </defaultValue>
            <fieldText>Is business process automation needed for this use case?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PlatformSupportIntegration</name>
            <choiceReferences>SupportIntegrationSelections</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_DoesPlatformSupportIntegration_needs__c</elementReference>
            </defaultValue>
            <fieldText>Does the platform support the integration needs of the use case?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CollaborationNeeded</name>
            <choiceReferences>CollaborationNeededSelections</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_Does_the_use_case_need_collaboration__c</elementReference>
            </defaultValue>
            <fieldText>Does the use case need Collaboration?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MobileAccess</name>
            <choiceReferences>MobileAccessSelections</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_Is_Mobile_Access_needed__c</elementReference>
            </defaultValue>
            <fieldText>Does the use case need Mobile access?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_on_Review_Team</name>
        <label>Not on Review Team</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scrNotOnReviewTeam</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$User.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;, we are sorry but you are not on the review team.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Platform_Information</name>
        <label>Platform Information</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_Reviewer_Record</targetReference>
        </connector>
        <fields>
            <name>scrPlatformInformation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Hello &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Employee_Record.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please complete the Intake Review process.  This will be utilized to determine the path forward for the Intake Request&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Platform Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CanUseCaseLeverageExistingApplication</name>
            <choiceReferences>UseExistingApp</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_Does_an_App_for_this_Use_Case_exist__c</elementReference>
            </defaultValue>
            <fieldText>Can this use case leverage an existing application?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_Application</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_Application_Name__c</elementReference>
            </defaultValue>
            <fieldText>Current Application</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CanUseCaseLeverageExistingApplication</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CanUseCaseUseExistingPlatform</name>
            <choiceReferences>UseExistingPlatform</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_Can_App_use_an_existing_platform__c</elementReference>
            </defaultValue>
            <fieldText>Can this use case use an existing platform?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Existing_Platform</name>
            <choiceReferences>ExistingPlatformChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_Platform__c</elementReference>
            </defaultValue>
            <fieldText>Existing Platform</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CanUseCaseUseExistingPlatform</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LevelCorePlatformCapabilities</name>
            <choiceReferences>LevelCoreCapabilities</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_Level_of_Core_Capabilities_available__c</elementReference>
            </defaultValue>
            <fieldText>Based on the use case what level of core platform capabilities are available to use without the need of other platforms</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LevelDeclarativeCustomization</name>
            <choiceReferences>LevelDeclarative</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_Level_of_configuration_customization__c</elementReference>
            </defaultValue>
            <fieldText>Based on the use case what level of declarative customization can be used to build out use case</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCompletedScreen</name>
        <label>scrCompletedScreen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Platform_Information</targetReference>
        </connector>
        <fields>
            <name>dtReviewerNotification</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Hello &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Employee_Record.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have completed this Intake Review.  You provided the following recommendation:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Reviewer_Record.coe_Recommendation__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If you would like to update your recommendation please press the Update Review button below.  Otherwise do nothing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Update Review</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Security_Information</name>
        <label>Security Information</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_Reviewer_Record_2</targetReference>
        </connector>
        <fields>
            <name>scrSecurityInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Security Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SecurityLevel</name>
            <choiceReferences>ApplicationSecurityLevels</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_Security_Level_Required__c</elementReference>
            </defaultValue>
            <fieldText>What Security Level is needed for this application?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RequireATO</name>
            <choiceReferences>RequireAnATO</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Reviewer_Record.coe_Will_an_ATO_be_required__c</elementReference>
            </defaultValue>
            <fieldText>Will the application require an ATO?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intake_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IntakeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>coe_Intake__c</objectType>
    </variables>
    <variables>
        <name>IntakeReview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>coe_IntakeReview__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
